/************************RESET************************/
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #FFFFFF;
    font-family: "Poppins", sans-serif;
}

/************************UTILS************************/
.container{
    width: 100%;
    max-width: 1116px;    
    /*Centraliza a div horizontalmente independente do elemento pai*/
    margin-left: auto;
    margin-right: auto;
}

/************************HEADER************************/



.header{  
    background-color: #FFFFFF;
    border-top: 3px solid var(--brand);
    padding-top: 24px;
    padding-bottom: 24px;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center; /*alinhamento vertical*/
}


.header .container{
    display: flex;
    align-items: center; /*alinhamento vertical*/
    justify-content: space-between;/*alinhamento horizontal*/
}

.menu{
    display: flex;
    column-gap: 100px;
}

.menu a{
    color: #333333;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    text-decoration: none;

}

/************************HERO************************/
.hero{
    height: 100vh;
    background-image: url(../img/background_hero.webp);
    background-size: cover;
    background-position: top right;

    display: flex;
    align-items: center;
}